= tabs do
  = tab "Event" do
    = render 'admin/events/form_event', event: event

  - if event.persisted?
    = tab 'Content' do
      = render '/admin/events/form_content', event: event

    = tab 'Access' do
      = render '/admin/events/form_access', event: event

    = tab "Tickets" do
      - datatable = Admin::EffectiveEventTicketsDatatable.new(event_id: event.id)
      = render_inline_datatable(datatable)

    = tab "Registrants" do
      - datatable = Admin::EffectiveEventRegistrantsDatatable.new(event_id: event.id)
      = render_inline_datatable(datatable)

    - if event.respond_to?(:log_changes_datatable)
      = tab "Logs" do
        = render_inline_datatable(event.log_changes_datatable)
