- tickets = resource.event.event_tickets.reject(&:archived?)
- member_column = tickets.any? { |ticket| ticket.member_only? || ticket.member_or_non_member? }
- waitlist = tickets.any? { |ticket| ticket.waitlist? }

- all_member_only_tickets = tickets.all? { |ticket| ticket.member_only? }
- any_member_only_tickets = tickets.any? { |ticket| ticket.member_only? }

= card do
  - if resource.event.early_bird?
    .alert.alert-warning.mb-3
      Early Bird rates end on
      = resource.event.early_bird_end_at.strftime("%A, %B %d, %Y at %l:%M%P.")

  %table.table.table-sm.table-striped
    %thead
      %tr
        %th Ticket
        %th Price

    %tbody
      - tickets.each do |ticket|
        %tr
          %td
            = ticket.to_s
            - if ticket.capacity.present? && ticket.display_capacity?
              %br
              %small
                #{ticket.capacity_available} remaining
                - if ticket.waitlist?
                  before waitlist

          %td
            %ul.list-unstyled.mb-0
              - if resource.event.early_bird? && ticket.early_bird_price.present? && ticket.early_bird_price != 0 && ticket.early_bird_price != ticket.member_price && ticket.early_bird_price != ticket.regular_price
                %li
                  - if ticket.regular_price.present? && ticket.regular_price != 0
                    %div
                      %s.text-muted
                        = price_to_currency(ticket.regular_price)

                  - if ticket.member_price.present? && ticket.member_price != 0
                    %div
                      %s.text-muted
                        = price_to_currency(ticket.member_price)
                      .badge.badge-secondary.mr-2 Members

                  %div
                    = price_to_currency(ticket.early_bird_price)
                    .badge.badge-warning Early Bird

              - else
                - if ticket.regular_price.present?
                  %li
                    = price_to_currency(ticket.regular_price)

                - if ticket.member_price.present?
                  %li
                    = price_to_currency(ticket.member_price)
                    .badge.badge-secondary Members

  - if waitlist
    %p If the ticket capacity has been reached you will be added to the waitlist.

- unless current_user.try(:is?, :member)
  - if all_member_only_tickets
    .alert.alert-info.mb-4 You must be a member to purchase tickets.
  - elsif any_member_only_tickets
    .alert.alert-info.mb-4 You must be a member to purchase some of these tickets.
