-# Displayed on the tickets step

- tickets = form.object.event.event_tickets.reject(&:archived?)
- member_column = tickets.any? { |ticket| ticket.member_only? || ticket.member_or_non_member? }
- waitlist = tickets.any? { |ticket| ticket.waitlist? }

- all_member_only_tickets = tickets.all? { |ticket| ticket.member_only? }
- any_member_only_tickets = tickets.any? { |ticket| ticket.member_only? }
- is_member = current_user.try(:is?, :member) 

%p Please select one or more tickets to register for this event:

%table.table.table-sm.table-striped
  %thead
    %tr
      %th Ticket
      - if member_column
        %th Member Price
      %th #{'Regular ' if member_column}Price
      %th Quantity

  %tbody
    - tickets.each do |ticket|
      %tr
        %td
          = ticket.to_s
          - if ticket.capacity.present? && ticket.display_capacity?
            %br
            %small
              #{ticket.capacity_available} remaining
              - if ticket.waitlist?
                before waitlist

        - if member_column
          %td
            - if ticket.member_price.present?
              = price_to_currency(ticket.member_price)
            - else
              = '-'
        %td
          - if ticket.regular_price.present?
            = price_to_currency(ticket.regular_price)
          - else
            = '-'
        %td
          - event_ticket_selection = form.object.build_event_ticket_selection(event_ticket: ticket)

          = form.fields_for :event_ticket_selections, event_ticket_selection do |f|
            = f.hidden_field :event_ticket_id

            - capacity = ticket.capacity_selectable
            - disabled = (ticket.member_only? && !is_member)

            = f.select :quantity, (0..capacity), label: false, disabled: disabled, 
              include_blank: false, input_js: { minimumResultsForSearch: 'Infinity' }

- if waitlist
  %p If the ticket capacity has been reached you will be added to the waitlist.

- unless is_member
  - if all_member_only_tickets
    .alert.alert-info.mb-4 You must be a member to purchase tickets.
  - elsif any_member_only_tickets
    .alert.alert-info.mb-4 You must be a member to purchase some of these tickets.
