= render 'layout' do
  .card.mb-4
    .card-body
      %p
        Add-ons are free or paid additional items that can be included in your registration.
        %br
        If you are registering for multiple people, you need to include an add-on for each person.

  = render 'effective/event_registrations/content', resource: resource

  .card
    .card-body
      = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
        = f.hidden_field :id

        = f.has_many :event_addons, f.object.build_event_addons do |fp|
          = render('effective/event_addons/fields', f: fp, event: f.object.event)

        - if resource.delayed_payment_date_upcoming? && resource.submit_order.present?
          .alert.alert-info If the price of your registration changes, your order will be automatically updated.

        %hr
        = f.save 'Save and Continue'
