= render 'layout' do
  = render('effective/event_registrations/changing', resource: resource)
  = render('effective/event_registrations/content', resource: resource)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id

    = render('effective/event_registrations/fields_event_registrants', form: f)

    %hr
    = f.save 'Save and Continue'
