= render 'layout' do
  = render('effective/event_registrations/changing', resource: resource)
  = render('effective/event_registrations/content', resource: resource)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id

    = render('effective/event_registrations/details_fields', form: f)

    = f.submit 'Save and Continue', left: true
