= render 'layout' do
  /= render 'effective/event_registrations/content', resource: resource

  = render('effective/event_registrations/event_registration', event_registration: resource)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id
    = f.submit 'Save and Continue', class: 'btn btn-primary'
