= render 'layout' do
  = render('effective/event_registrations/content', resource: resource)

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id

    = card do
      = render('effective/event_registrations/fields_event_ticket_selections', form: f)

      = f.save 'Save and Continue'
