= render 'layout' do

  - all_steps_content = resource.event&.rich_text_all_steps_content
  - step_content = resource.event&.send("rich_text_#{step}_content")

  - if all_steps_content.present?
    .card.mb-4
      .card-body= all_steps_content.to_s

  = render 'effective/event_registrations/event_tickets', resource: resource

  - if step_content.present?
    .card.mb-4
      .card-body= step_content.to_s

  = effective_form_with(model: resource, url: wizard_path(step), method: :put) do |f|
    = f.hidden_field :id

    %p Please select one or more tickets to register for this event:

    = f.has_many :event_registrants, f.object.build_event_registrants, reorder: false do |fr|
      = render('effective/event_registrants/fields', f: fr, event: f.object.event, namespace: :events)

    - if resource.delayed_payment_date_upcoming? && resource.submit_order&.delayed? && resource.submit_order&.deferred?
      .alert.alert-info If the price of your registration changes, your order will be automatically updated.

    %hr
    .mb-4
      = f.save 'Save and Continue'
