.row.mb-5.effective-events{class: "effective-events-#{event.category.to_s.parameterize}"}
  - # Do not show banners for past events
  - if event.file.attached? && event.upcoming?
    .col-lg-4
      = link_to effective_events.event_path(event) do
        = image_tag url_for(event.file), class: "effective-events-image d-none d-lg-flex align-self-start", alt: event.title, width: "350", height: "220"

  .col
    - if event.past?
      .badge.badge-primary.badge-event.mb-2 Past Event

    - if event.category.present? && EffectiveEvents.categories.length > 1
      = link_to(event.category, effective_events.events_path + '/' + event.category.parameterize, class: "badge badge-primary badge-event mb-2 effective-events-#{event.category.parameterize}")

    = event_status_badge(event)
    = admin_event_status_badge(event)

    %h2.effective-events-title= link_to event.title, effective_events.event_path(event)
    .effective-events-meta= effective_events_event_schedule(event)
    .effective-events-excerpt= event.excerpt.to_s
