= render 'layout' do
  .row
    - if EffectiveEvents.categories.length > 1
      .d-none.d-lg-block.col-lg-3
        -#= render('effective/events/form', event_search: @event_search)
        = render('effective/events/sidebar')

    .col
      %h1.effective-title.mb-4= @page_title

      - results = @event_search.results(page: params[:page])
      - if (@event_search.present? && results.length == 0) || @events.blank?
        .alert.alert-warning.mb-3
          There are no active #{events_label.downcase} for this category.
      - else
        = render(results) # This renders effective/events/event

      %nav.d-flex.justify-content-center
        = bootstrap_paginate(results, per_page: @event_search.per_page)
