= render 'layout' do
  .row
    .col-md-3
      -# We don't use the search form
      -#= render('effective/events/form', event_search: @event_search)
      = render('effective/events/sidebar')

    .col-md-9
      %h1.event-title.mb-4= @page_title

      - results = @event_search.results(page: params[:page])
      - if (@event_search.present? && results.length == 0) || @events.blank?
        .alert.alert-warning.mb-3
          No
          = events_label.downcase
          were found. Please try another category or check back later!
      - else
        = render(results) # This renders effective/events/event

      %nav.d-flex.justify-content-center
        = bootstrap_paginate(results, per_page: @event_search.per_page)
