= render 'layout' do
  .effective-event

    .row
      .col-md-3
        -# We don't use the search form
        -#= render('effective/events/form', event_search: @event_search)
        = render('effective/events/sidebar')

      .col-md-9
        %h1.event-title.mb-4= @page_title

        - if @event.sold_out?
          .alert.alert-warning.mb-3 This event is sold out.

        - if @event.closed?
          .alert.alert-warning.mb-3 This event is no longer available.

        - if @event.registerable?
          .register.mb-4
            - url = @event.external_registration_url.presence || effective_events.new_event_event_registration_path(@event)
            = link_to 'Register', url, class: 'btn btn-lg btn-primary'

        %ul.list-unstyled
          %li.mb-3
            %label Event Date
            %br
            = effective_events_event_schedule(@event)

          - if @event.registration_start_at.present?
            %li.mb-3
              %label Registration Opens
              %br
              = @event.registration_start_at.strftime("%A, %B %d, %Y · %l:%M%P")

          - if @event.early_bird_end_at.present?
            %li.mb-3
              %label Early Bird Rate Ends
              %br
              = @event.early_bird_end_at.strftime("%A, %B %d, %Y · %l:%M%P")

          - if @event.registration_end_at.present?
            %li.mb-3
              %label Registration Closes
              %br
              = @event.registration_end_at.strftime("%A, %B %d, %Y · %l:%M%P")

          -# .col-md-auto
          -#   - if @event.event_tickets.present?
          -#     %label Tickets
          -#     %br
          -#     %ul
          -#       - @event.event_tickets.each do |ticket|
          -#         %li= "#{ticket} (#{effective_events_ticket_price(@event, ticket)})"

        %hr

        - if @event.file.attached?
          = image_tag(@event.file)
          %hr

        - if @event.body.present?
          .event-body
            = @event.body.to_s
            %hr

        = link_to('&larr; All Events'.html_safe, effective_events.events_path, class: "btn btn-primary my-4")
