= effective_form_with(model: [:admin, event_registrant], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :event_id
  - else
    = f.select :event_id, Effective::Event.sorted.all,
      'data-load-ajax-url': effective_events.new_admin_event_registrant_path,
      'data-load-ajax-div': '#effective-events-event-registrant-ajax'

  - if f.object.new_record?
    -# User
    - klass = (f.object.owner || current_user).class
    - ajax_url = (effective_resources.users_effective_ajax_index_path unless Rails.env.test?)

    = f.hidden_field :owner_type, value: klass.name
    = f.select :owner_id, klass.all, ajax_url: ajax_url, label: 'Registration User'
  - else
    = f.static_field :owner

  = f.datetime_field :registered_at, required: true

  #effective-events-event-registrant-ajax
    - if f.object.event.present?
      .card
        .card-body
          - if f.object.purchased?
            = f.static_field :event_ticket, label: 'Purchased ticket'

          - if (order = f.object.event_registration_submit_order).present?
            = f.static_field :event_registration_submit_order, label: 'Order' do
              = link_to(order, effective_orders.admin_order_path(order), target: '_blank')

          = f.select :event_ticket_id, effective_events_event_tickets_collection(f.object.event, namespace), required: true

          - if f.object.event.allow_blank_registrants? && (f.object.new_record? || f.object.blank_registrant?)
            = f.check_box :blank_registrant, label: "I will return and add this ticket's information later"
          - else
            = f.hidden_field :blank_registrant, value: false

          = f.show_if(:blank_registrant, false) do
            = render('effective/event_registrants/fields', f: f)

          - if f.object.new_record?
            %p.text-muted
              %small A $0 purchased event registration and order will be created. No emails will be sent.

  = f.check_box :archived, label: "Archive this registrant. It will be displayed as archived on the owner's event registration"

  - if f.object.new_record?
    = f.hidden_field :created_by_admin, value: true

  = f.submit(f.object.new_record? ? 'Save' : 'Save and Update Orders')
