= effective_form_with(model: [:admin, event_registrant], engine: true) do |f|
  = f.hidden_field :event_id

  - if f.object.new_record?
    = f.select :owner, { 'Users' => current_user.class.all }, polymorphic: true
  - else
    = f.static_field :owner

  = render 'effective/event_registrants/fields', f: f, event: event_registrant.event, namespace: :admin

  = f.check_box :archived, label: "Archive this registrant. It will be displayed as archived on the owner's event registration"

  - if f.object.new_record?
    = f.submit 'Save and Mark Paid'
  - else
    = f.submit 'Save'
