= effective_form_with(model: [:admin, event_ticket], engine: true) do |f|
  = f.hidden_field :event_id

  = card('Ticket') do
    = f.text_field :title

    .row
      .col= f.number_field :capacity, hint: 'The number of registrations will be limited to capacity. Leave blank for unlimited capacity.'
      .col= f.check_box :member_only, hint: 'Must be a member to purchase. Will display a dropdown of all members to select from.'

    .row
      .col= f.price_field :regular_price, hint: 'A price of $0 will allow a checkout for free.'
      .col= f.price_field :early_bird_price, hint: 'A price of $0 will allow a checkout for free. Leave blank for no early bird price.'

    .row
      - if defined?(EffectiveQbSync)
        .col= f.text_field :qb_item_name, label: 'QuickBooks item name'
      .col= f.check_box :tax_exempt

    = f.check_box :archived, label: 'Archive this ticket. It will be unavailable for purchase.'

  = card('Questions') do
    %p Add upto 3 questions

    = f.text_field :question1, label: 'Question 1'
    = f.text_field :question2, label: 'Question 2'
    = f.text_field :question3, label: 'Question 3'

  = effective_submit(f)
