= effective_form_with(model: [:admin, event_ticket], engine: true) do |f|
  = f.hidden_field :event_id

  = card(et(Effective::EventTicket)) do
    = f.text_field :title

    .row
      .col= f.select :category, Effective::EventTicket::CATEGORIES, hint: "Determines who can purchase this ticket at which price. Also determines if the dropdown of related members is displayed to the purchaser."
      .col= f.number_field :capacity, hint: "The number of registrations will be limited to capacity.<br>Leave blank for unlimited capacity."

    = f.show_if(:category, 'Regular') do
      .alert.alert-info.mb-4
        %strong Regular Ticket:
        Anyone will be able to purchase this ticket. They will be asked for a first name, last name and email. Will not display the dropdown list of related members. Only the regular price applies.

    = f.show_if(:category, 'Member Only') do
      .alert.alert-info.mb-4
        %strong Member Only Ticket:
        Only members will be able to purchase this ticket. They must select a member from the dropdown list of related members. Only the member price applies.

    = f.show_if(:category, 'Member or Non-Member') do
      .alert.alert-info.mb-4
        %strong Member or Non-Member Ticket:
        Anyone will be able to purchase this ticket. They can select a member from the dropdown list of related members to receive the member pricing.
        Or, they can enter a first name, last name and email to receive the regular pricing.

    .row
      .col-md-6
        - if f.object.event&.early_bird_end_at.present?
          = f.price_field :early_bird_price, hint: 'A price of $0 will allow a checkout for free. Leave blank for no early bird price.'

        = f.show_if_any(:category, ['Regular', 'Member or Non-Member']) do
          = f.price_field :regular_price, hint: 'A price of $0 will allow a checkout for free.'

        = f.show_if_any(:category, ['Member Only', 'Member or Non-Member']) do
          = f.price_field :member_price, hint: 'A price of $0 will allow a checkout for free when selecting a member.'

    .row
      - if defined?(EffectiveQbSync)
        .col= f.text_field :qb_item_name, label: 'QuickBooks item name'
      .col= f.check_box :tax_exempt

    = f.check_box :archived, label: 'Archive this ticket. It will be unavailable for purchase.'

  = card('Questions') do
    %p Add upto 3 questions

    = f.text_field :question1, label: 'Question 1'
    = f.text_field :question2, label: 'Question 2'
    = f.text_field :question3, label: 'Question 3'

  = effective_submit(f)
