= effective_form_with(model: [:admin, event_addon], engine: true) do |f|
  = f.hidden_field :event_id

  - if f.object.new_record?
    = f.select :owner, { 'Users' => current_user.class.all }, polymorphic: true
  - else
    = f.static_field :owner

  = render 'effective/event_addons/fields', f: f, event: event_addon.event

  - if f.object.new_record?
    = f.submit 'Save and Mark Paid'
  - else
    = f.submit 'Save'
