= effective_form_with(model: [:admin, event_addon], engine: true) do |f|
  = f.hidden_field :event_id

  - if f.object.new_record?
    -# User
    - klass = (f.object.owner || current_user).class
    - ajax_url = (@select2_users_ajax_path || effective_resources.users_admin_select2_ajax_index_path) unless Rails.env.test?

    = f.hidden_field :owner_type, value: klass.name
    = f.select :owner_id, klass.all, ajax_url: ajax_url, label: 'User'
  - else
    = f.static_field :owner

  = render 'admin/event_addons/fields', f: f, event: event_addon.event

  = f.check_box :archived, label: "Archive this addon. It will be displayed as archived on the owner's event registration"

  - if f.object.new_record?
    = f.submit 'Save and Mark Paid'
  - else
    = f.submit 'Save'
