%h1{style: "text-align: center"} Your tickets have been confirmed!

%p{style: "text-align: center"}
  %strong{style: "font-size: 18px"}= @event.title
  %br
  #{effective_events_event_schedule(@event)}

- if @event.rich_text_confirmation_email.present?
  %hr
  = @event.rich_text_confirmation_email.to_s.html_safe

- if @event.delayed_payment? && @event_registration.present? && @event_registrant.user == @event_registration.owner && @event_registration.submit_order.delayed? && @event_registration.submit_order.deferred?
  %hr
  %p{style: "margin-bottom: 4px; font-weight: bold;"} Please note:
  %ul{style: "margin-top: 0;"}
    %li Your credit card will be charged on <strong>#{@event.delayed_payment_date.strftime("%A, %B %d, %Y")}</strong>.
    %li Changes and cancellations must be made before this date.
    %li A receipt will be sent after the transaction is completed.

%hr

%table.table
  %thead
    %tr
      %th{style: "text-align: left;"} Qty
      %th{style: "text-align: left;"} Ticket
      %th{style: "text-align: right;"} Price
  %tbody
    %tr
      %td{style: "text-align: left;"} 1
      %td{style: "text-align: left;"}
        = @event_registrant.purchasable_name
        = @event_registrant.responses if @event_registrant.responses.present?
      %td{style: "text-align: right;"}= price_to_currency(@event_registrant.price)

- if @event_registration.present? && @event_registrant.user == @event_registration.owner
  %hr
  %p{style: "text-align: center;"}
    = link_to('View your registration', effective_events.event_event_registration_url(@event, @event_registration))
