%p Hi Admin,

%p 
  = succeed('.') do
    The 
    = @event 
    was at capacity and had its order changed by 
    = @event_registration.owner
    which freed up
    = pluralize(@event.total_capacity_available, 'ticket')

%p For more information, please visit: 

%p= link_to 'View the event', effective_events.edit_admin_event_url(@event)
