.card.mb-4
  .card-body
    - if f.object.purchased?
      = f.static_field :event_ticket, label: 'Purchased ticket'
    - else
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event, namespace), label: 'Ticket'

    - if f.object.purchased? && namespace == :admin
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event, namespace), label: 'Change Ticket', hint: 'Admin only. Change the purchased ticket. This will not create charges, alter the original order, or consider ticket capacity.'

    .row
      .col-lg= f.text_field :first_name
      .col-lg= f.text_field :last_name
      .col-lg= f.text_field :number, label: 'Professional Designations', hint: 'Include member or registrant number, if applicable.'

    .row
      .col-lg= f.email_field :email
      .col-lg= f.text_field :company

    = f.text_area :notes, label: 'Dietary restrictions or other notes'
