.card.mb-4
  .card-body
    - if f.object.purchased?
      = f.static_field :event_ticket, label: 'Purchased ticket'
    - else
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event), label: 'Ticket'

    .row
      .col-lg= f.text_field :first_name
      .col-lg= f.text_field :last_name
      .col-lg= f.text_field :number, label: 'Member Number'

    .row
      .col-lg= f.email_field :email
      .col-lg= f.text_field :company

    = f.text_area :notes, label: 'Dietary restrictions or other notes'
