.card.mb-4
  .card-body
    - if f.object.purchased?
      = f.static_field :event_ticket, label: 'Purchased ticket'
    - else
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event, namespace), label: 'Ticket'

    - if f.object.purchased? && namespace == :admin
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event, namespace), label: 'Change Ticket', hint: 'Admin only. Change the purchased ticket. This will not create charges, alter the original order, or consider ticket capacity.'

    - if event&.allow_blank_registrants?
      = f.check_box :blank_registrant, label: "I will return and add this ticket's information later"
    - else
      = f.hidden_field :blank_registrant, value: false

    = f.hide_if(:blank_registrant, true) do
      - event.event_tickets.each do |ticket|
        = f.show_if(:event_ticket_id, ticket.id) do
          - if ticket.member_only?
            - klass = (f.object.user || current_user).class
            - ajax_url = (@select2_users_ajax_path || effective_memberships.member_users_membership_select2_ajax_index_path) unless Rails.env.test?

            = f.hidden_field :user_type, value: klass.name
            = f.select :user_id, klass.all, ajax_url: ajax_url, label: 'Member', hint: effective_events_event_tickets_user_hint()

          - if ticket.member_only? == false
            .row
              .col-lg= f.text_field :first_name
              .col-lg= f.text_field :last_name
              .col-lg= f.text_field :number, label: 'Professional Designations', hint: 'member or registrant number'

            .row
              .col-lg= f.email_field :email
              .col-lg= f.text_field :company

          - # All tickets
          - if ticket.question1.present?
            = f.text_field :response1, label: ticket.question1

          - if ticket.question2.present?
            = f.text_field :response2, label: ticket.question2

          - if ticket.question3.present?
            = f.text_field :response3, label: ticket.question3

          - if ticket.question1.blank? && ticket.question2.blank? && ticket.question3.blank?
            = f.text_area :notes, label: 'Dietary restrictions or other notes'
