.event-registrant-user-fields
  - # Choose ANY member
  - klass = (f.object.user || current_user).class
  - ajax_url = (@select2_ajax_path || effective_events.users_event_registrants_select2_ajax_index_path) unless Rails.env.test?

  = f.hidden_field :user_type, value: klass.name
  = f.select :user_id, klass.all, ajax_url: ajax_url, 
    label: "Quick Add", placeholder: "Search by name, email, or company", hint: "Can't find someone? Add their details below.",
    input_js: { minimumInputLength: 1 }, 'data-event-registrant-user-search': true

  - readonly = (f.object.user.present? && f.object.user.persisted? && f.object.user.errors.blank?)

  .row
    .col-md= f.text_field :first_name, input_html: { readonly: readonly, plaintext: false }
    .col-md= f.text_field :last_name, input_html: { readonly: readonly, plaintext: false }

  .row
    .col-md= f.email_field :email, input_html: { readonly: readonly, plaintext: false }
    .col-md= f.text_field :company, input_html: { readonly: readonly, plaintext: false }
