.card
  .card-body
    %h5.card-title Event Registrant

    - if f.object.purchased?
      = f.static_field :event_ticket, label: 'Purchased event ticket'
    - else
      = f.select :event_ticket_id, effective_events_event_tickets_collection(event)

    .row
      .col-lg= f.text_field :first_name
      .col-lg= f.text_field :last_name
      .col-lg= f.text_field :number

    .row
      .col-lg= f.email_field :email
      .col-lg= f.text_field :company

    = f.text_area :notes, label: 'Dietary restrictions or other notes'
