= f.select :event_ticket_id, Effective::EventTicket.where(event_id: f.object.event_id)
= f.text_field :first_name
= f.text_field :last_name
= f.email_field :email
= f.text_field :company
= f.text_field :restrictions, label: "Dietary Restrictions"
