.event-registrant-user-fields
  - user_klass = (f.object.user || current_user).class
  - ajax_url = (effective_resources.users_effective_ajax_index_path unless Rails.env.test?)
  - disabled = (f.object.user.present? && f.object.user.persisted? && f.object.user.errors.blank?)
  - event_ticket = f.object.event_ticket

  = f.hidden_field :user_type, value: user_klass.name

  = f.select :user_id, user_klass.all, ajax_url: ajax_url, label: "Quick add", placeholder: "Search by name, email, or company",
    hint: "Can't find someone? Add their details below.", input_js: { minimumInputLength: 1 }, 'data-event-registrant-user-search': true

  .row
    .col-md= f.text_field :first_name, input_html: { disabled: disabled }
    .col-md= f.text_field :last_name, input_html: { disabled: disabled }

  .row
    .col-md= f.email_field :email, input_html: { disabled: disabled }
    .col-md
      = f.hidden_field :organization_type
      = f.hidden_field :organization_id

      - if EffectiveEvents.organization_enabled? == false
        = f.text_field :company, input_html: { disabled: disabled }
      
      - if EffectiveEvents.organization_enabled?
        = f.hidden_field :organization_type, value: EffectiveMemberships.Organization.name

        - organizations = EffectiveMemberships.Organization.sorted.all

        - if event_ticket && event_ticket.members? && !event_ticket.guest_of_member?
          - organization_id = (f.object.event_registration&.owner || current_user).try(:organizations).try(:first).try(:id)

          - # Must select any existing member organization
          = f.select :organization_id, organizations.members, label: organization_label, placeholder: 'Search by name', input_html: { disabled: disabled },
            value: (organization_id if organization_id && f.object.organization_id.blank?)
        - else
          - # This creates a select field organization_id and a text field company
          = f.select_or_text :organization_id, :company, organizations, name: organization_label.downcase, input_html: { disabled: disabled },
            text: { label: "#{organization_label} name", placeholder: "New #{organization_label.downcase} name" },
            select: { label: organization_label, placeholder: 'Search by name' }

  - if event_ticket.present?
    - if event_ticket.question1.present?
      = f.text_field :response1, label: event_ticket.question1, required: event_ticket.question1_required?

    - if event_ticket.question2.present?
      = f.text_field :response2, label: event_ticket.question2, required: event_ticket.question2_required?

    - if event_ticket.question3.present?
      = f.text_field :response3, label: event_ticket.question3, required: event_ticket.question3_required?

