= effective_form_with(model: [:admin, event_notification], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :event_id
  - else
    = f.select :event_id, Effective::Event.sorted.all

  = f.select :category, Effective::EventNotification::CATEGORIES,
    label: 'Send an email notification'

  - # Render email templates
  - Effective::EventNotification::CATEGORIES.each do |category|
    - template = 'event_' + category.parameterize.underscore

    = f.show_if :category, category do
      .my-3= render "/admin/event_notifications/form_#{template}", f: f
      = email_notification_fields(f, template, variables: Effective::EventNotification::EMAIL_TEMPLATE_VARIABLES)

  = effective_submit(f)
