= effective_form_with(model: [:admin, event_notification], engine: true) do |f|
  - if inline_datatable?
    = f.hidden_field :event_id
  - else
    = f.select :event_id, Effective::Event.sorted.all

  = f.select :category, Effective::EventNotification::CATEGORIES,
    label: 'Send an email notification'

  - # Render email templates
  - Effective::EventNotification::CATEGORIES.each do |category|
    - template = 'event_' + category.parameterize.underscore

    = f.show_if :category, category do
      = render "/admin/event_notifications/form_#{template}", f: f

      - if f.object.category == category && f.object.persisted?
        - # Nothing to do
      - else
        - email_template = Effective::EmailTemplate.where(template_name: template).first!

        - f.object.from ||= email_template.from
        - f.object.subject ||= email_template.subject
        - f.object.body ||= email_template.body

      = f.select :from, EffectiveEvents.mailer_froms
      = f.text_field :subject
      = f.text_area :body, rows: 10

      %p The available variables are:

      %ul
        - Effective::EventNotification::EMAIL_TEMPLATE_VARIABLES.each do |variable|
          %li {{ #{variable} }}

      %small.text-muted Please contact us to add additional variables

  = effective_submit(f)
