= effective_form_with(model: [:admin, event_product], engine: true) do |f|
  = f.hidden_field :event_id

  = f.text_field :title
  = f.number_field :capacity, hint: 'The number of addons will be limited to this capacity. Leave blank for unlimited capacity.'
  = acts_as_purchasable_fields(f)

  = f.check_box :archived, label: 'Archive this product. It will be unavailable for purchase.'

  = effective_submit(f)
